body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(236, 250, 250);
}

main {
    justify-content: center;
    display: flex;
}

.title {
    margin-top: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    justify-content: center;
    display: flex;
}

.title h2 {
    border-bottom: 5px solid #04C1FB;
    padding-bottom: 10px;
}

.review {
    margin-top: 50px;
    min-height: 420px;
    max-width: 600px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 5px 15px 1px rgb(198, 199, 199);
    text-align: center;
    padding: 1.5rem;
}

.quote {
    position: absolute;
    transform: translate(-13px, 18px);
}

.img-container {
    width: min-content;
    margin: 0 auto;
}

.person-img {
    border-radius: 50%;
    box-shadow: 7px -7px 0px 2px rgb(50, 216, 216);
}

.author {
    letter-spacing: 3px;
}

.job {
    color: rgb(50, 216, 216);
    text-transform: capitalize;
}

.info {
    min-height: 100px;
}

.button-container {
    background-color: #F0F0F0;
    padding-top: 2px;
    width: 300px;
    margin: 0 auto;
    border-radius: 50px;
}

.button-container button {
    border: none;
    outline: none;
    cursor: pointer;
}

.prev-btn {
    position: relative;
    right: 30px;
}

.next-btn {
    position: relative;
    left: 30px;
}

.prev-btn-img {
    transform: rotate(180deg);
    
}

.next-btn-img {
    position: relative;
}

